[submodule "hidden_link_calculate"]
	path = hidden_link_calculate
	url = https://github.com/sustainablility/hidden_link_calculate.git
[submodule "LuChen-project"]
	path = LuChenProject
	url = https://github.com/sustainablility/LuChen-project.git
[submodule "LuChenProject"]
	path = LuChenProject
	url = https://github.com/sustainablility/LuChenProject.git
